// colors
$primary: #94C11B;
$main: #081340;
$main-2: #535A7A;
$black: #000;
$purple: #515878;
$purple-2: #6B718C;
$white: #fff;
// fonts
$montserrat: 'Montserrat', sans-serif;
$notoSans: 'Noto Sans Georgian', sans-serif;



