.footer {
    background-color: #7D8394;
    padding: 24px 0 64px;
    &__inner {
        &-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 208px;
            img {
                width: 100%;
            }
        }
        &-row {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-bottom: 70px;
            border-bottom: 1px solid rgba($white, .15);
        }
        &-col {
            display: flex;
            flex-direction: column;
            width: calc(25% - 10px);
            max-width: 150px;
            &:first-child {
                max-width: 220px;
            }
            &:nth-child(3) {
                max-width: 344px;
            }
            &:last-child {
                max-width: 344px;
            }
            &.sm {
                padding-top: 57px;
            }
            p {
                color: #E6E8EC;
                margin-bottom: 20px;
            }
        }
        h6 {
            color: $white;
            font-weight: 700;
            margin-bottom: 32px;
            text-transform: uppercase;
            &.dark {
                color: #E6E8EC;
            }
        }
        a {
            font-size: 20px;
            line-height: 24px;
            color: $white;
            font-weight: 400;
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        & > p {
            margin-top: 20px;
            color: $white;
            opacity: .5;
        }
    }

}
.sponsors {
    background-color: $white;
    padding: 24px 0 56px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(33.3% - 10px);
            &:first-child{
                margin-top: 38px;
                justify-content: flex-start;
                img {
                    max-width: 160px;
                }
            }
            &:last-child {
                justify-content: flex-end;
                img {
                    max-width: 300px;
                    width: 100%;
                }
            }
            img {
                width: 50%;
                max-width: 120px;
            }
        }
    }
}
// 1180px
@mixin footer-xlg-xxlg {
    .footer {
        padding: 24px 0 50px;
        &__inner {
            &-row {
                padding-bottom: 50px;
            }
            &-col {
                width: calc(20% - 10px);
                
                &:first-child {
                    width: calc(25% - 10px);
                }
                &:last-child {
                    width: calc(35% - 10px);
                }
            }
        }
    }
}
// 1024px
@mixin footer-lg-xlg {
    .footer {
        padding: 24px 0 40px;
        &__inner {
            &-row {
                padding-bottom: 30px;
            }
            &-col {
                &.sm {
                    padding-top: 40px;
                }
                &:nth-child(3) {
                    width: calc(20% - 10px);
                }
                &:last-child {
                    width: calc(35% - 10px);
                }
                h6 {
                    margin-bottom: 15px;
                }
                a {
                    font-size: 17px;
                    line-height: 22px;
                    margin-bottom: 10px;
                }
                p {
                    margin-bottom: 14px;
                    &.big {
                        font-size: 17px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
    .sponsors {
        padding: 24px 0 40px;
    }
}
// 930px
@mixin footer-md-lg {
    .footer {
        padding: 20px 0 30px;
        &__inner {
            &-logo {
                width: 160px;
            }
            &-row {
                flex-wrap: wrap;
            }
            &-col {
                &:nth-child(n) {
                    width: calc(33.3% - 10px);
                }
                &:last-child {
                    width: 100%;
                    margin-top: 30px;
                }
            }
            & > p {
                font-size: 18px;
                line-height: 24px;
                margin-top: 10px;
            }
        }
    }
    .sponsors {
        padding: 20px 0;
    }
}
// 750px
@mixin footer-sm-md {
    .footer {
        &__inner {
            &-row {
                flex-wrap: wrap;
            }
            &-col {
                &:nth-child(even) {
                    width: calc(60% - 10px);
                    max-width: unset;
                }
                &:nth-child(odd) {
                    width: calc(40% - 10px);
                    max-width: unset;
                }
                &:nth-child(3) {
                    margin-top: 30px;
                }
            }
            & > p {
                font-size: 18px;
                line-height: 24px;
                margin-top: 10px;
            }
        }
    }
}

// 650px
@mixin footer-sm-md-extra {
    .footer {
        &__inner {
            &-col {
                &.sm {
                    padding-top: 30px;
                }
                a {
                    font-size: 15px;
                    line-height: 18px;
                    margin-bottom: 8px;
                }
                p {
                    &.big {
                        font-size: 15px;
                        line-height: 18px;
                    }
                }
                h6 {
                    margin-bottom: 12px;
                }
            }
        }
    }
}

// 540px
@mixin footer-xsm-sm {
    .footer {
        padding: 20px 0;
        &__inner {
            &-logo {
                width: 140px;
                margin-bottom: 30px;
            }
            &-row {
                padding-bottom: 20px;
            }
            &-col {
                &.sm {
                    padding-top: 0;
                }
                &:nth-child(n) {
                    width: 100%;
                    margin: 0 0 25px 0;
                }
                &:last-child {
                    margin: 0;
                }
                a {
                    font-size: 17px;
                    line-height: 22px;
                    margin-bottom: 8px;
                }
                p {
                    &.big {
                        font-size: 17px;
                        line-height: 22px;
                    }
                }
                h6 {
                    margin-bottom: 8px;
                }
            }
            & > p {
                font-size: 14px;
                line-height: 18px;
                margin-top: 8px;
            }
        }

    }
    .sponsors {
        padding: 10px 0;
        &__inner {
            &-logo {
                width: calc(33.3% - 5px);
                &:first-child{
                    margin-top: 30px;
                    justify-content: flex-start;
                    img {
                        max-width: 160px;
                    }
                }
                &:last-child {
                    justify-content: flex-end;
                    img {
                        max-width: 300px;
                        width: 100%;
                    }
                }
                img {
                    width: 60%;
                    max-width: 120px;
                }
            }
        }
    }
}

// 390px
@mixin footer-xxxsm-xxsm {
    .footer {

    }
    .sponsors {
        &__inner {
            flex-direction: column;
            &-logo {
                width: 100%;
                margin-bottom: 20px;
                &:first-child{
                    margin-top: 0;
                    justify-content: center;
                    img {
                        max-width: 160px;
                    }
                }
                &:last-child {
                    justify-content: center;
                    margin: 0;
                    img {
                        width: 100%;
                    }
                }
                img {
                    width: 100%;
                    max-width: 120px;
                }
            }
        }
    }
}