.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $white;
  box-shadow: 0px 4px 55px 0px #00000014;

  &.register {
    .nav {
      display: none;
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: sticky;
    animation-duration: .4s;
  }

  &__inner {
    padding: 27px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 126px;

      img {
        width: 100%;
      }
    }

    &-buttons {
      display: flex;
      align-items: center;

      &-link {
        font-weight: 600;
        color: $primary;
      }
    }

    .button {
      margin-left: 58px;
    }
  }
}

// 1380px
@mixin header-xxxlg-xxxxlg {
  .header {
    &__inner {
      padding: 20px 0;

      &-logo {
        width: 120px;
      }

      .button {
        padding: 14px 40px;
        margin-left: 30px;
      }
    }
  }
}

// 1180px
@mixin header-xlg-xxlg {
  .header {
    &.register {
      .nav {
        display: block;
      }
    }
  }
}

// 750px
@mixin header-sm-md {
  .header {
    &__inner {
      .button {
        font-size: 14px;
        line-height: 18px;
        padding: 12px 25px;
        margin-left: 20px;
      }
    }
  }

  .burger {
    margin-left: 20px;
  }
}

// 540px
@mixin header-xsm-sm {
  .header {
    &__inner {
      padding: 15px 0;
      &-logo {
        width: 110px;
      }
      &-buttons {
        &-link {
          display: none;
        }
      }

      .button {
        display: none;
      }
    }
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}